.user-search {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.user-search input {
    padding: 8px;
    border: 1px solid white;
    background: transparent;
    color: white;
}

#inventory {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.item {
    background: #222;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.item img {
    width: 80px;
    height: 80px;
}
