<div class="navbar">
    <a href="../landing">
        <img src="../../assets/headertext.png" alt="RapScout Logo" class="logo">
    </a>
    <div class="nav-links">
        <a href="./users">
            <svg> <!-- Sparkles SVG --> </svg> Users
        </a>
        <a href="./limiteds">
            <svg> <!-- Moon SVG --> </svg> Limiteds
        </a>
        <button id="theme-toggle">
            <svg id="theme-icon"> <!-- Light/Dark Mode SVG --> </svg>
        </button>
    </div>
</div>
